* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

.header {
    padding: 80px;
    text-align: center;
    background-image: url(ubercool.jpg);
    background-size: cover;


}

.header h1 {
    font-size: 70px;
    color: rgb(16, 199, 168);
}

.header h2 {
    font-size: 55px;
    color: chartreuse;
}

.review {
    flex: 100%;
    padding: 135px;
    text-align: left;
}