* {
    box-sizing: border-box;
}

@font-face {
    font-family: raleway;
    src: url(fonts/Raleway-Regular.ttf);
}

html, body {
    padding: 0;
    margin: 0;
    font-family: raleway, sans-serif;
}

.titlebar {
    background-color: black;
    text-align: center;
}

.header {
    padding: 80px;
    text-align: center;
    background-image: url(ubercool.jpg);
    background-size: cover;


}

.header h1 {
    font-size: 70px;
    color: rgb(255, 255, 255);
}

.header h2 {
    font-size: 55px;
    color:rgb(168, 253, 253);
}

.homebody {
    padding: 50px;
}

.homebody > a {
    display: flex;
    flex-direction: row;
    height: 200px;
    margin-bottom: 50px;
    border: 1px solid rgb(59, 5, 158);
    text-decoration:none;
}

.titleandsubtitle {
    color:black;
    margin-left: 20px;
}

.titleandsubtitle h4 {
    font-size:xxx-large
}

.titleandsubtitle h4 {
    font-size:xx-large
}


.review {
    flex: 100%;
    padding: 135px;
    text-align: left;
}