* {
    box-sizing: border-box;
}

@font-face {
    font-family: raleway;
    src: url(fonts/Raleway-Regular.ttf);
}

html, body {
    padding: 0;
    margin: 0;
    font-family: raleway, sans-serif;
    box-sizing: border-box;
}

a {
    color: rgb(59, 5, 158);
    text-decoration: none;
}

.titlebar {
    background-color: black;
    text-align: center;
}

.titlebar > a img {
    max-height: 100%;
    max-width: 100%;
}

.header {
    padding: 80px;
    text-align: center;
    background-image: url(ubercool.jpg);
    background-size: cover;
}

.header h1 {
    font-size: 70px;
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0,0.45);
    padding: 20px 10px;
}

.header h2 {
    font-size: 55px;
    color:rgb(168, 253, 253);
    background-color: rgba(0,0,0,0.45);
    padding: 20px 10px;
}

.homebody {
    padding: 50px;
    overflow-x: hidden;
}

.homebody > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    margin-bottom: 50px;
    border: 1px solid rgb(59, 5, 158);
    text-decoration:none;
}

.homebody > a > img {
    height: 100%;
}

.titleandsubtitle {
    color:black;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.titleandsubtitle h4 {
    font-size:36px;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

.titleandsubtitle h5 {
    font-size:30px;
    margin: 0;
    padding: 0;
}


.review {
    flex: 100%;
    padding: 35px;
    text-align: left;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.review p {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 24px;
}

.review p img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.review h4 {
    margin-bottom: 0;
}

.review ul {
    max-width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.review ul li {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.review ul li a {
    display: block;
    text-overflow:ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.review .back {
    display:inline-block;
    background-color: rgb(59, 5, 158);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .homebody {
        padding: 10px;
    }

    .homebody > a {
        height: 160px;
        margin-bottom: 20px;
        justify-content: flex-start;
    }

    .homebody > a > img {
        border-bottom: solid 30px rgb(59, 5, 158);
    }

    .titlebar {

    }

    .titleandsubtitle {
        height: 100%;
        justify-content: space-between;
        padding: 10px 0;
    }

    .titleandsubtitle h4 {
        font-size: 20px;
    }

    .titleandsubtitle  h5{
        font-size: 15px;
    }

    .header {
        padding: 40px 20px;
    }

    .header h1 {
        font-size: 40px;
    }
    
    .header h2 {
        font-size: 30px;
    }

    .review {
        padding: 40px;
    }

}